*.o
*.elf
*.hex
*-bak
.vscode
mcu-source/atpack
mcu-source/hdd.elf
mcu-source/hdd.bin
fpga-source/output_files/
fpga-source/db/
fpga-source/incremental_db
fpga-source/dump.lxt
fpga-source/tb
fpga-source/hdd.qws
fpga-source/hdd.cdf
pcb-source/AtariHDisk4-backups
pcb-source/fp-info-cache
atari-utils/*/*.prg
atari-utils/*/*.ttp
